.body {
    width: max-content;
    height: max-content;
    margin: auto;
    background: white;
}

/*-------------------Head------------------------  */
.head {
    width: 800px;
    height: 600px;
    margin: auto;
    /*background-image: url("/Picture/Car/Ferrari/Ferrari1-1.jpg");*/
}

.head img {
    max-width: 800px;
}

.img {
    width: 800px;
    height: 300px;
    clear: both;
}

.head ul {
    float: left;
}

.head ul li {
    margin-top: 6px;
}

.head a {
    text-decoration: none;
    color: black;
}

.head a:hover {
    color: crimson;
}

.span {
    padding-top: 80px;
    margin-right: 6px;
    font-size: 12px;
}

.span a {
    margin-top: 80px;
    float: right;
    margin-right: 5px;
    font-family: "Britannic Bold";
    font-size: 14px;
}

/*------------Middle------------------*/
.middle {
    width: 1440px;
    height: max-content;
    margin: auto;
    clear: both;
}

.middle p {
    width: 300px;
    margin: auto;
    clear: both;
    text-align: center;
    letter-spacing: 8px;
    font-size: 30px;
    padding-bottom: 20px;
}

.Ferrari1 {
    width: 700px;
    height: 420px;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
}

.Ferrari1 img {
    max-width: 700px;
}

/*.Ferrari1 img:hover {*/
/*transform: scale(1.3);*/
/*transition: all 2s;*/
/*}*/

.Ferrari2 {
    width: 730px;
    height: 420px;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 10px;
}

.Ferrari2 img {
    max-width: 740px;
}

/*.Ferrari2 img:hover {*/
/*transform: scale(0.8);*/
/*transition: all 2s;*/
/*}*/

.Ferrari3 {
    width: 1200px;
    max-height: 565px;
    clear: both;
    margin-bottom: 20px;
}

.Ferrari3 img {
    width: 1000px;
    max-height: 565px;
}

.Ferrari3 p {
    width: 100px;
    height: 80px;
    float: right;
    padding-top: 120px;
    letter-spacing: 18px;
}

.Lamborghini1 {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    margin: auto;
}

.Lamborghini1 img {
    width: 1200px;
    max-height: 600px;

}

.Lamborghini2 {
    width: 1200px;
    height: 550px;
    overflow: hidden;
    float: left;
    margin-top: 10px;
}

.Lamborghini2 img {
    width: 1200px;
    max-height: 600px;
}

.Lamborghini3 {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    float: right;
    clear: both;
}

.Lamborghini3 img {
    width: 1200px;
    max-height: 600px;
}